<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet"  type="text/css" href="/styles/main.css">-->
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <link type="text/css" href="/layout/styles/main.css"  rel="stylesheet">

    <title>Adventures</title>
</head>
<style>
   
</style>
<body>
    <div id="story-container" class="container">
        <h1>{{.Title}}</h1>
        {{range $i, $a := .Story}}
            <p> {{$a}}</p>
        {{end}}
        <hr/>
        {{range $j, $o := .Options}}
            <a class="option-button" href="/{{$o.Arc}}">{{$o.Text}}</a>
            <br/>
        {{end}}
        
    </div>

 
</body>
</html>